<div class="container">
  <form (submit)="handleRegister($event)" [formGroup]="form">
    <div class="form-group">
      <label for="email">Firstname:</label>
      <input type="text" class="form-control" id="fullname" formControlName="firstname" name="firstname" />
    </div>
    <div class="form-group">
      <label for="email">Lastname:</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname" name="lastname" />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" name="email" />
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" formControlName="username" name="username" />
    </div>
    <div class="form-group">
      <label for="password">Password (requires number, uppercase and special character):</label>
      <input type="password" class="form-control" id="password" formControlName="password" name="password" />
    </div>
    <div class="form-group">
      <label for="role">Context</label>
      <div id="role" class="radio">
        <label class="radio-inline" *ngFor="let role of roles; let i = index">
          <input type="radio" name="role" value="{{ role.value }}" [checked]="i == 0" (change)="roleRef = role.value" />
          <span class="cr"><i class="cr-icon fa fa-check-square"></i></span>
          {{ role.name }}
        </label>
      </div>
    </div>
    <button class="btn btn-default" type="submit">Register</button>
  </form>
</div>
