<div class="container">
  <app-form-validation-error [error-table]="errorTable"></app-form-validation-error>

  <form (submit)="handleEdit($event)" [formGroup]="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" name="name" />
    </div>
    <div class="form-group">
      <label for="url">Url</label>
      <input type="url" class="form-control" id="url" formControlName="url" name="url" />
    </div>
    <div class="form-group">
      <label for="filter">Filter (Regex pattern) </label>
      <textarea class="form-control" rows="5" id="filter" formControlName="filter" name="filter"></textarea>
    </div>

    <button class="btn btn-default" type="submit">Submit</button>
  </form>
</div>


