<div>
  <h3>Goal</h3>
  <p class="indent">
    This project was born after we became a homeowner and we learned the difficult lesson of finding trusted, licences
    contractor
    to do simple project all around the house. Soon after moving in to a new house we got tired to asking friends and
    family
    for a recommendation for a contractor hoping to find a licences contractor who is familiar with city permits. This
    system
    is not sustainable and our platform will fix this obsolete system of baseless trust.
  </p>
  <p class="indent">
    Our goal is to create a platform so contractors, handymen and etc. can showcase their work and connect with
    customers. We hope
    to streamline the process of getting permits and finding a suitable contractor with a fixed contract cost.
  </p>
</div>

<div>
  <h3>Vision</h3>
  <ul>
    <li>
      We want to streamline the permit process. No more of visiting your outdated city, village website trying to get a
      form, mailing
      a check and to get a simple permit.
    </li>
    <li>
      Contractors should be able to empowered to showcase their previous work and customer should use that
      to judge a contractor and not a baseless system of trust.
    </li>
    <li>
      We can also keep track of your house projects. No more of papers and invoices that get lost which are important
      when the time comes to sell your house and your can't proof how much your spent on your house.
    </li>
  </ul>
</div>

<div>
  <h3>Founders</h3>
  <ul>
    <li> Zack Borton</li>
    <li> Seyedamirhossein Hesamian</li>
    <li> Srinivas Mudili</li>
  </ul>
</div>
