<div class="container">
  <h3>
    Stream Ripper Subscription Service
  </h3>

  <p class="indent">
    By providing an Url and Access Token, this website rips the stream or partitions the stream into .mp3 file and
    subsequently uploads the to a service you provided.
  </p>

  <p class="indent">
    You can use <a href="https://directory.shoutcast.com/">ShoutCast</a> to find an online radio and use it's url.
  </p>

  <p class="indent">
    This service is free, we do not own the ripped .mp3 files and we do not store them, only store them in
    <strong>your</strong> file sharing service
  </p>
</div>
