<div class="container">
  <h2>
    Stream Ripper Subscription Service
  </h2>
  <p class="indent">
    By providing an Url and Access Token, this website rips the stream or partitions the stream into .mp3 file and
    subsequently uploads the music to a service (or "sink") you provided. You can also listen to them via your browser.
  </p>
  <p class="indent">
    You can use <a href="https://directory.shoutcast.com/" target="_blank">ShoutCast</a> to find an online radio and use it's url.
  </p>
  <p class="indent">
    This service is free, I do NOT own the ripped .mp3 files and I do NOT store them, only upload them from your browser into
    <strong>your</strong> file sharing service
  </p>

  <h3>Why I created this</h3>
  <p class="indent">I actually don't like listening to music but I have always been curious of ShoutCast streams and online radios. So why not.</p>

  <h4>
    Open Source
  </h4>
  <p class="indent">
    This website is open-source (As Is - No Warranty) and open to contribution. Fork it, run it locally and enjoy!
  </p>

  <ul>
    <li>
      IceCast Stream Ripper: <a href="https://github.com/amir734jj/Stream-ripper" target="_blank">https://github.com/amir734jj/Stream-ripper</a>
    </li>
    <li>
      API: <a href="https://github.com/amir734jj/stream-subscription-api" target="_blank">https://github.com/amir734jj/stream-subscription-api</a>
    </li>
    <li>
      UI: <a href="https://github.com/amir734jj/stream-subscription-ui" target="_blank">https://github.com/amir734jj/stream-subscription-ui</a>
    </li>
  </ul>

  <h4>Privacy</h4>
  <ul>
    <li>
      This website is open source so no monkey business
    </li>
    <li>Data on this site will NOT be sold to a third party</li>
    <li>There will never be any ads on this website</li>
  </ul>

  <h4>Contact</h4>
  <ul>
    <li><a href="mailto:amir@hesamian.com">Email</a></li>
    <li><a href="https://github.com/amir734jj">Github</a></li>
  </ul>

  <h4>Screenshot</h4>
  <img src="assets/screenshot.png" alt="screenshot" class="img-responsive"/>
</div>
