<h4> Extended Profile </h4>

<div class="form-group">
  <label for="speciality">Speciality:</label>

  <div class="clear-fix" id="speciality">
    <mat-form-field id="select-speciality">
<!--      <mat-label> Speciality </mat-label>-->
      <mat-select [(value)]="contractor.speciality" multiple>
        <mat-option *ngFor="let speciality of specialities" [value]="speciality.value"> {{ speciality.name }} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="form-group">
  <ng-template [ngIf]="contractor.showcaseProjects.length">
    <label for="showcase-titles">Project titles:</label>

    <ul id="showcase-titles">
      <li *ngFor="let showcaseProject of contractor.showcaseProjects"> {{ showcaseProject.title }}</li>
    </ul>
  </ng-template>

  <ng-template [ngIf]="!contractor.showcaseProjects.length">
    <label for="showcase-titles">No showcase project added</label>
  </ng-template>

  <button class="btn btn-default pull-right" (click)="addShowcaseProject()">Add Showcase Project</button>
</div>


