<div class="container">
  <app-form-validation-error [error-table]="errorTable"></app-form-validation-error>

  <form (submit)="handleAdd($event)" [formGroup]="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" name="name" />
    </div>
    <div class="form-group">
      <label for="host">Host</label>
      <input type="url" class="form-control" id="host" formControlName="host" name="host" />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" name="username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" name="password" />
    </div>
    <div class="form-group">
      <label for="path">Path</label>
      <input type="text" class="form-control" id="path" formControlName="path" name="path" />
    </div>
    <div class="form-group">
      <label for="port">Port</label>
      <input type="number" class="form-control" id="port" formControlName="port" name="port" />
    </div>
    <div class="form-group">
      <label>Favorite</label>
      <mat-checkbox formControlName="favorite" [ngClass]="'form-control'" color="primary"></mat-checkbox>
    </div>

    <button class="btn btn-default" type="submit">Submit</button>
  </form>
</div>
