.top-margin
  margin-top: 1.25rem

.bottom-margin
  margin-bottom: 1.25rem

.tab-header
  display: inline-block
  width: 100%

.right-margin
  margin-right: 0.25rem

table
  width: 95%

.mat-progress-bar
  position: fixed
  top: 0
  width: 100%

.monospace
  font-family: monospace, monospace

i
  display: inline-block
  margin-right: 0.5em
  margin-left: 0.5rem

table
  width: 100% !important

.inline-block
  display: inline-block

.ticker
  margin-top: 0.75rem
  margin-bottom: 0.5rem
  font-weight: 500
