:host
  display: block
  overflow-x: hidden

.top-margin
  margin-top: 1.25rem

.bottom-margin
  margin-bottom: 1.25rem

.tab-header
  display: inline-block
  width: 100%

.right-margin
  margin-right: 0.25rem

table
  width: 100%
  table-layout: fixed

  td, th
    overflow: hidden
    text-overflow: ellipsis
    word-break: break-word

.mat-progress-bar
  position: fixed
  top: 0
  width: 100%

.monospace
  font-family: monospace, monospace

i
  display: inline-block
  margin-right: 0.5em
  margin-left: 0.5rem

.inline-block
  display: inline-block

.ticker
  margin-top: 0.75rem
  margin-bottom: 0.5rem
  font-weight: 500
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.normalized-btn-group
  display: inline-flex
  flex-wrap: wrap
  justify-content: center

#waveform
  overflow: hidden
  max-width: 100%
