<div class="container">
  <div class="jumbotron" *ngIf="!isAuthenticated">
    <h2> Welcome to Stream-Subscription-UI portal </h2>
    <p>
      You need to be authenticated to use any feature of this website
    </p>
  </div>

  <div *ngIf="isAuthenticated">
    <div class="row">
      <div class="col-sm-6">
        <p>
          <strong>
            Live log
          </strong>
          <span class="label label-primary pull-right">
        {{ count}} active users
      </span>
        </p>
        <pre>
{{ log.join('\n') }}
  </pre>
      </div>
      <div class="col-sm-6" *ngIf="msaapPlaylist.length">
        <p>
          <strong>
            Songs
          </strong>
        </p>

        <mat-advanced-audio-player [playlist]="msaapPlaylist"
                                   [displayTitle]="msaapDisplayTitle"
                                   [autoPlay]="false"
                                   [displayPlaylist]="msaapDisplayPlayList"
                                   [pageSizeOptions]="msaapPageSizeOptions"
                                   [expanded]="true"
                                   [displayVolumeControls]="msaapDisplayVolumeControls">
        </mat-advanced-audio-player>
      </div>
    </div>
  </div>
</div>
