<div class="container">
  <div *ngIf="isAuthenticated">

    <tabset [justified]="true">
      <tab heading="Live log" [active]="true" customClass="bold">
        <div class="top-margin">
          <p class="tab-header">
            <span class="label label-primary pull-right"> {{ userCount }} active users </span>
          </p>
          <pre>
{{ log.join('\n') }}
            </pre>
        </div>
      </tab>
      <tab heading="Tracks" customClass="bold">
        <div class="alert alert-info bottom-margin top-margin" *ngIf="dataSource.data.length === 0; else elseBlock">
          <strong> Info! </strong> No song has been downloaded yet! There are {{ streamsCount }} active streams.
        </div>
        <ng-template #elseBlock>
          <div class="top-margin">
            <div class="tab-header">
              <p class="pull-right">
                <span class="label label-primary right-margin"> {{status}} </span>
                <span class="label label-primary right-margin"> {{streamsCount}} active streams </span>
                <span class="label label-primary"> {{msaapPlaylist.length}} tracks </span>
              </p>
            </div>
            <div class="row">
              <div class="col-sm-12">
              </div>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" #playlist>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="source">
                    <th mat-header-cell *matHeaderCellDef> Source </th>
                    <td mat-cell *matCellDef="let element"> {{element.source}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                      <section layout="row">
                        <button mat-stroked-button color="primary">play</button>
                        <button mat-stroked-button>download</button>
                      </section>
                    </td>
                  </ng-container>

                  <tr mat-header-row></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <hr />
              <div class="col-sm-12 top-margin">
                <button class="btn btn-default pull-right" (click)="downloadCurrentSong()">Download Current Song</button>
              </div>
            </div>
          </div>
        </ng-template>
      </tab>
    </tabset>
  </div>
</div>
