<ng-container>
  <div class="container" *ngIf="contractor">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ contractor.user.firstname }} {{ contractor.user.lastname }}
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8">
            <p>{{ contractor.user.email }}</p>
            <p>{{ contractor.user.phoneNumber }}</p>
          </div>
          <div class="col-sm-4">
            <img class="img-rounded contractor-profile-image" [src]="imageService.downloadUrl(contractor?.user?.profileImage)" alt="profile-photo" *ngIf="contractor?.user?.profileImage">
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-default">
          contact
        </button>
      </div>
    </div>
  </div>
</ng-container>
