<ng-container *ngIf="question">

  <div class="row">
    <div class="col-sm-1" *ngIf="isAuthenticated()">
      <div class="btn-group-vertical vcenter">
        <button type="button" class="btn btn-success" (click)="upVote(question.id)">
          <i class="fas fa-arrow-up fa-lg"></i>
        </button>
        <div class="btn btn-default">
          {{ question.vote }}
        </div>
        <button type="button" class="btn btn-info" (click)="downVote(question.id)">
          <i class="fas fa-arrow-down fa-lg"></i>
        </button>
      </div>
    </div>

    <div class="col-sm-11">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            {{ question.title }}
          </h5>
        </div>
        <div class="panel-body">
          <textarea class="form-control variable-textarea hidden" [(ngModel)]="question.text" rows="5"></textarea>
          <markdown class="variable-binding" [data]="question.text"></markdown>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-6 text-left">
          <span class="label label-primary readonly-tag" *ngFor="let tag of question.tags">
            {{ tag.text }}
          </span>
            </div>
            <div class="col-sm-6 text-right" *ngIf="isAuthenticated()">
              <div class="btn-group">
                <label class="btn btn-default" btnCheckbox role="button" (click)="gotoEditQuestion()">Edit</label>
                <label class="btn btn-danger" btnCheckbox role="button" (click)="deleteQuestion()">Delete</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="question.answers && question.answers.length">
    <div class="panel panel-default" *ngFor="let answer of question.answers">
      <div class="panel-body">
        <textarea class="form-control variable-textarea hidden" [(ngModel)]="answer.text" rows="5"></textarea>
        <markdown class="variable-binding" [data]="answer.text"></markdown>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!question.answers || !question.answers.length">
    <div class="panel panel-default">
      <div class="panel-body">
        No Answer Posted Yet!
      </div>
    </div>
  </ng-container>

  <div class="panel panel-default" *ngIf="isAuthenticated()">
    <div class="panel-heading">
      <h5 class="panel-title">
        Answer the question:
      </h5>
    </div>
    <div class="panel-body">
      <textarea class="form-control variable-textarea" [(ngModel)]="answer.text" rows="5"></textarea>

      <hr/>

      <markdown class="variable-binding" [data]="answer.text"></markdown>
    </div>

    <div class="panel-footer" *ngIf="isAuthenticated()">
      <div class="row">
        <div class="col-sm-12 text-right">
          <div class="btn-group">
            <label class="btn btn-success" btnCheckbox role="button" (click)="submitAnswer()">Submit Answer</label>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer" *ngIf="!isAuthenticated()">
      <div class="row">
        Please log-in to submit an answer!
      </div>
    </div>
  </div>

</ng-container>
