<ng-container>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="input-group">
          <span class="input-group-addon">Title</span>
          <input type="text" class="form-control" id="title" [(ngModel)]="question.title">
        </div>
      </h3>
    </div>
    <div class="panel-body">
      <textarea class="form-control variable-textarea" [(ngModel)]="question.text" rows="5"></textarea>

      <hr />

      <markdown class="variable-binding" [data]="question.text"></markdown>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-4 text-left">
          <tag-input [(ngModel)]="tags"></tag-input>
        </div>
        <div class="col-sm-8 text-right">
          <div class="btn-group">
            <label class="btn btn-success" btnCheckbox role="button" (click)="handleSaveQuestion()">Save</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
