<div class="panel panel-default">
  <div class="panel-heading">
    <label>
      {{ftpSink.name}}
    </label>
  </div>
  <div class="panel-body">

    <mat-form-field>
      <mat-label>Streams</mat-label>
      <mat-select [formControl]="streamsFormControl" multiple>
        <mat-option *ngFor="let stream of streams" [value]="stream.id" >{{stream.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="panel-footer">
    <button class="btn btn-primary" (click)="update()">
      Submit
    </button>
  </div>
</div>
