<div class="container">
  <h2>FTP Sinks</h2>

  <div class="row bottom-margin">
    <div class="col-sm-10">
      <p>This is the list of ftp sinks</p>
    </div>

    <div class="col-sm-2">
      <button class="btn btn-default pull-right" (click)="addFtpSink()">
        <strong>
          Add FTP Sink
        </strong>
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="hidden-sm hidden-xs"> Id</th>
      <th> Name</th>
      <th class="hidden-sm hidden-xs"> Host</th>
      <th> Authorization</th>
      <th class="hidden-sm hidden-xs"> Path</th>
      <th class="hidden-sm hidden-xs"> Port</th>
      <th class="hidden-sm hidden-xs"> Streams</th>
      <th> Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ftpSink of ftpSinks">
      <td class="hidden-sm hidden-xs"> {{ ftpSink.id }} </td>
      <td> {{ ftpSink.name }} </td>
      <td class="hidden-sm hidden-xs"> {{ urlHost(ftpSink.host) }} </td>
      <td>
        <div class="pre-formatted">
          {{ ftpSink.username }}:{{ ftpSink.password }}
        </div>
      </td>
      <td class="hidden-sm hidden-xs">
        <div class="pre-formatted">
          {{ ftpSink.path }}
        </div>
      </td>
      <td class="hidden-sm hidden-xs"> {{ ftpSink.port }} </td>
      <td class="hidden-sm hidden-xs">
        <ul *ngIf="ftpSink.ftpSinkRelationships.length">
          <li *ngFor="let relationship of ftpSink.ftpSinkRelationships">
            {{ relationship.stream.name }}
          </li>
        </ul>

        <ng-template [ngIf]="!ftpSink.ftpSinkRelationships.length">
          None
        </ng-template>
      </td>
      <td>
        <div class="btn-group">
          <a class="btn btn-default" [routerLink]="['/ftpSink', ftpSink.id]">
            Manage
          </a>
          <a class="btn btn-default" [routerLink]="['/ftpSink', ftpSink.id, 'edit']">
            Edit
          </a>
          <button class="btn btn-danger" (click)="deleteFtpSink($event, ftpSink.id)">
            Delete
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
