<div class="container">
  <h2>Streams</h2>

  <div class="row bottom-margin">
    <div class="col-sm-7">
      <p>This is the list of streams</p>
    </div>

    <div class="col-sm-5">
      <div class="pull-right btn-group">
        <button class="btn btn-success" (click)="startAll()" *ngIf="!all(StreamStatus.Started)">
          <strong>
            Start All
          </strong>
        </button>
        <button class="btn btn-danger" (click)="stopAll()" *ngIf="!all(StreamStatus.Stopped)">
          <strong>
            Stop All
          </strong>
        </button>
        <button class="btn btn-default" (click)="addStream()">
          <strong>
            Add Stream
          </strong>
        </button>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="hidden-sm hidden-xs"> Id</th>
      <th> Name </th>
      <th class="hidden-sm hidden-xs"> Url</th>
      <th class="hidden-xs"> Sinks</th>
      <th> Status </th>
      <th> Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stream of streams">
      <td class="hidden-sm hidden-xs"> {{ stream.id }} </td>
      <td> {{ stream.name }} </td>
      <td class="hidden-sm hidden-xs">
        <a [href]="stream.url">
          {{ urlHost(stream.url) }}
        </a>
      </td>
      <td class="hidden-xs">
        <ul *ngIf="stream.ftpSinkRelationships.length">
          <li *ngFor="let sink of stream.ftpSinkRelationships">
            {{ sink.ftpSink.name }}
          </li>
        </ul>

        <ng-template [ngIf]="!stream.ftpSinkRelationships.length">
          None
        </ng-template>
      </td>
      <td>
        <label class="label label-{{ resolveBootstrapClass(statusTable[stream.id] === StreamStatus.Started) }}">
          {{ statusToString(statusTable[stream.id]) }}
        </label>
      </td>
      <td>
        <div class="btn-group">
          <a class="btn btn-default" [routerLink] = "['/stream', stream.id]">
            Manage
          </a>
          <a class="btn btn-default hidden-xs" [routerLink] = "['/stream', stream.id, 'edit']">
            Edit
          </a>
          <button class="btn btn-danger hidden-xs" (click)="deleteStream(stream.id)">
            Delete
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
