<form (submit)="handleSaveContractor($event)">
  <div class="form-group">
    <label for="email">Firstname:</label>
    <input type="email" class="form-control" id="firstname" [(ngModel)]="contractor.firstname" name="firstname">
  </div>
  <div class="form-group">
    <label for="email">Lastname:</label>
    <input type="email" class="form-control" id="lastname" [(ngModel)]="contractor.lastname" name="lastname">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="contractor.email" name="email">
  </div>
  <div class="form-group">
    <label for="email">Phone Number:</label>
    <input type="email" class="form-control" id="phoneNumber" [(ngModel)]="contractor.phoneNumber" name="phoneNumber">
  </div>
  <div class="form-group">
    <label for="description">Short Description:</label>
    <textarea type="description" class="form-control" id="description" [(ngModel)]="contractor.description" name="description"></textarea>
  </div>
  <div class="form-group">
    <label for="photo">Photo:</label>
    <div class="center" id="photo">
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        multiple="false"
        accept="image/*"
        dropZoneClassName="custom-dropzone-style"
        contentClassName="custom-dropzone-content"
      >
        <ng-template ngx-file-drop-content-tmp
                     let-openFileSelector="openFileSelector">
          <label style="margin: 1rem">
            profile image
          </label>

          <img [src]="contractor.profilePhoto.base64"
               *ngIf="!!contractor?.profilePhoto?.base64"
               alt="profile-image"
               class="img-thumbnail profile-image-thumbnail"/>

          <button class="btn btn-primary" *ngIf="contractor.profilePhoto.isNull()" type="button" (click)="openFileSelector()">Browse Files</button>
          <button class="btn btn-danger" *ngIf="contractor.profilePhoto" type="button" (click)="deleteImage()">Delete</button>

          <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
            <div>
              Welcome back, friend.
            </div>
          </ng-template>

          <ng-template #loggedOut>
            <div>
              Please friend, login.
            </div>
          </ng-template>


        </ng-template>
      </ngx-file-drop>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
